<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    <%= pageName %>
  </title>
  <style>
    body {
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      background: linear-gradient(135deg, #f0f8ff, #cce7ff);
      color: #333;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin: 0;
    }

    .container {
      text-align: center;
      padding: 40px 20px;
      background: #fff;
      border-radius: 12px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      max-width: 500px;
      width: 100%;
    }

    h1 {
      font-size: 2.5em;
      margin-bottom: 20px;
      color: #007BFF;
    }

    p {
      font-size: 1.2em;
      line-height: 1.5;
      margin-bottom: 20px;
    }

    a.button {
      display: inline-block;
      padding: 10px 20px;
      font-size: 1.2em;
      color: #fff;
      background-color: #007BFF;
      border: none;
      border-radius: 5px;
      text-decoration: none;
      transition: background-color 0.3s;
    }

    a.button:hover {
      background-color: #0056b3;
    }

    footer {
      margin-top: 20px;
      font-size: 0.9em;
      color: #666;
    }

    /* CSS for Kubernetes Details */
    .kubernetes-details {
      background-color: #f9f9f9;
      border: 1px solid #ddd;
      border-radius: 5px;
      padding: 10px;
      margin-top: 20px;
    }

    .kubernetes-details h2 {
      font-size: 1.5em;
      margin-bottom: 10px;
    }

    .kubernetes-details p {
      margin: 5px 0;
    }
  </style>
</head>

<body>
  <div class="container">
    <h1>Welcome to <%= pageName %>
    </h1>
    <!-- <p>This is a simple web page deployed in Kubernetes.</p> -->
    <p><%= description %></p>
    <!-- <a class="button" href="https://example.com">Learn More</a> -->
    <div class="kubernetes-details">
      <h2>Kubernetes Details</h2>
      <p>Pod Name: <%= kubernetesDetails.podName %>
      </p>
      <p>Namespace: <%= kubernetesDetails.namespace %>
      </p>
      <p>Node Name: <%= kubernetesDetails.nodeName %>
      </p>
    </div>
    <footer>
      <p>&copy; 2024 - My Awesome Web Page. All rights reserved.</p>
    </footer>
  </div>
</body>

</html>